body{
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
/*-------Utilities-------*/
.Line{
  width: 80%;
  background-color: teal;
  height: 2px;
}

.Heading{
  font-size: 20px;
  font-weight: 600;
  color:black;
}
/*-----------------------*/

.MainContainer{
  display: flex;
  align-items: center;
  padding: 4% 12%;
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;

}

.ProductPreview{
  width: 100%;
  position: relative;
}

.ProductInfo{
  width: 100%;
  padding: 16px;
}